@font-face {
  font-family: 'Mark Pro';
  src: url('https://raw.githubusercontent.com/TimAtkinsonSW19/fonts/main/MarkPro%204.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
 